	 <% provide(:title, "Home") %>

	<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
     <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>

  </div>
<% else %>

<div class="center jumbotron">
  <h1>Welcome to the OnLiNe ShOpPiNg</h1>

  <h2>
    This is the home page for the
    <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    web application.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<div>
  <ul>
    <p>book_list</p>
    <li><%= link_to "fiction",      fiction_path %></li>
    <li><%= link_to "non-fiction",  nonfiction_path %></li>
    <li><%= link_to "academic",     academic_path %></li>
    <li><%= link_to "self-help",    self_help_path %></li>
    <li><%= link_to "competitive",  competitive_path %></li>
    <li><%= link_to "philosophy",   philosophy_path %></li>
    
<% end %>